body {
    max-width: 1000px;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif
  }
  
  header {
    display: block;
    max-width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 4px solid black;
    border-radius: 5px;
    padding: 25px 55px;
    text-align: center;
    background-color: rgb(50, 189, 220);
  
  }
  
  h2 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 15px;
  }
  
  #clicksDiv {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
  }
  
  .pClicks {
    border: 2px solid black;
    background-color: rgba(223, 153, 169, 0.859);
    border-radius: 5px;
    max-width: fit-content;
    padding: 10px 0 10px 10px;
    margin: auto;
  }
  
  #clicks {
    font-weight: 700;
    font-size: 18px;
    color: rgb(171, 83, 51);
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 8.75px;
  }
  
  #imgContainer {
    display: flex;
    background-color: rgba(31, 206, 215, 0.869);
    border: 3px solid black;
    margin: 10px auto;
    align-items: center;
    justify-content: space-evenly;
    object-fit: cover;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .img {
    max-width: 55%;
    max-height: 55%;
    border: thin solid black;
    border-radius: 5px;
    transition-duration: 125ms;  
  }
  
  .img:hover {
    border: 3px solid rgb(115, 55, 34);
    box-shadow: 1px 1px 20px #684c2d;
  }
  
  #chartDiv {
    display: block;
    height: 400px;
    margin-top: 20px;  
    margin-bottom: 30px;
  
  }